*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /*outline: 1px solid red;*/
}

html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 100vh;
}

.content-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: min-content;
  background-image: url("./restaurant.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

nav {
  display: grid;
  justify-content: center;
  grid-template-rows: min-content min-content;
  color: white;
  background-color: black;
  opacity: 0.7;
  gap: 30px;
  font-weight: bold;
}

h1 {
  font-size: 3rem;
  padding: 20px;
}

.tab-menu {
  display: flex;
  gap: 30px;
  font-size: 2rem;
  list-style: none;
  padding: 10px;
}

.tab-menu li {
  border-bottom: 2px ridge black;
}

.tab-menu li:hover {
  cursor: pointer;
  border-bottom: 2px ridge white;
  transition: all 0.5s;
}